In [21]:
import pandas as pd
import numpy as np

In [10]:
def print_distribution(df, col):
    positive = np.count_nonzero(df[col] == 1)
    negative = np.count_nonzero(df[col] == 0)
    print("- Positive:", positive)
    print("- Negative:", negative)
    print("- Verh√§ltnis:", negative / positive)

### Erstellung neuer Train und Testdatensatz

In [11]:
df_train_old = pd.read_csv("twitter_hate-speech-alt/train.csv", index_col=0)
df_train_old.head()

    label                                              tweet
id
1       0   @user when a father is dysfunctional and is s...
2       0  @user @user thanks for #lyft credit i can't us...
3       0                                bihday your majesty
4       0  #model   i love u take with u all the time in ...
5       0             factsguide: society now    #motivation

In [12]:
print_distribution(df_train_old, "label")

- Positive: 2242
- Negative: 29720
- Verh√§ltnis: 13.256021409455842

In [13]:
train = df_train_old.sample(frac=0.7, random_state=200)
print_distribution(train, "label")

- Positive: 1574
- Negative: 20799
- Verh√§ltnis: 13.214104193138501

In [17]:
train.head()

       label                                              tweet
id
8886       0   @user #cinemaaawards final rehearsals!! geari...
909        0  istg this is the best cheese ta but dayum expe...
27613      0  this was amazing. the weather was not. #musica...
15999      0  yes! #talented #sexy   √¢¬Ä¬òcriminal minds√¢¬Ä¬ô ca...
23817      0  want to be   while being #successful? see how ...

In [14]:
test = df_train_old.drop(train.index)
print_distribution(test, "label")

- Positive: 668
- Negative: 8921
- Verh√§ltnis: 13.354790419161677

In [18]:
test.head()

    label                                              tweet
id
4       0  #model   i love u take with u all the time in ...
5       0             factsguide: society now    #motivation
6       0  [2/2] huge fan fare and big talking before the...
16      0  ouch...junior is angry√∞¬ü¬ò¬ê#got7 #junior #yugyo...
18      1                             retweet if you agree!

In [16]:
train.to_csv("twitter_hate-speech/train.csv")
test.to_csv("twitter_hate-speech/test.csv")

### Pr√ºfung: Cleaned-DFs (normal)

In [23]:
df_train_cleaned = pd.read_csv("twitter_hate-speech/train_cleaned.csv", index_col=0)
print_distribution(df_train_cleaned, "label")

- Positive: 1304
- Negative: 18317
- Verh√§ltnis: 14.046779141104295

In [27]:
df_train_cleaned.head()

,label,tweet,tweet_cleaned,user_handle,hashtags,emojis
id,,,,,,
8886,0,@user #cinemaaawards final rehearsals!! geari...,final rehearsal gear evening butterfly stage h...,1,"['#cinemaaawards', '#butterflies', '#stage']",NaN
909,0,istg this is the best cheese ta but dayum expe...,good cheese ta expensive,0,[],NaN
27613,0,this was amazing. the weather was not. #musica...,amazing weather musical london weekend,0,"['#musical', '#london', '#matilda', '#westend'...",NaN
15999,0,yes! #talented #sexy ‚Äòcriminal minds‚Äô casts ...,yes talented sexy ' criminal mind ' cast serie...,2,"['#talented', '#sexy']",NaN
23817,0,want to be while being #successful? see how ...,want successful see help,2,"['#successful', '#worklifebalance']",NaN

In [24]:
df_test_cleaned = pd.read_csv("twitter_hate-speech/test_cleaned.csv", index_col=0)
print_distribution(df_test_cleaned, "label")

- Positive: 668
- Negative: 8921
- Verh√§ltnis: 13.354790419161677

In [28]:
df_test_cleaned.head()

,label,tweet,tweet_cleaned,user_handle,hashtags,emojis
id,,,,,,
4,0,#model i love u take with u all the time in ...,model take time ur mobile phone kiss sunglass ...,0,['#model'],":mobile_phone:,:kissing_face_with_smiling_eyes..."
5,0,factsguide: society now #motivation,factsguide society motivation,0,['#motivation'],NaN
6,0,[2/2] huge fan fare and big talking before the...,huge fan big leave chaos pay get,0,['#allshowandnogo'],NaN
16,0,ouch...junior is angryüòê#got7 #junior #yugyoem ...,angry get junior omg,0,"['#got7', '#junior', '#yugyoem', '#omg']",:neutral_face:
18,1,retweet if you agree!,retweet agree,0,[],NaN

In [26]:
df_predict_cleaned = pd.read_csv("twitter_hate-speech/predict_cleaned.csv", index_col=0)
df_predict_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17197 entries, 31963 to 49159
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tweet          17197 non-null  object
 1   tweet_cleaned  17092 non-null  object
 2   user_handle    17197 non-null  int64
 3   hashtags       17197 non-null  object
 4   emojis         3452 non-null   object
dtypes: int64(1), object(4)
memory usage: 806.1+ KB

In [29]:
df_predict_cleaned.head()

,tweet,tweet_cleaned,user_handle,hashtags,emojis
id,,,,,
31963,#studiolife #aislife #requires #passion #dedic...,require passion find,0,"['#studiolife', '#aislife', '#requires', '#pas...",NaN
31964,@user #white #supremacists want everyone to s...,white want everyone see new ' bird ' movie ‚Äî ‚Äô,1,"['#white', '#supremacists', '#birds', '#movie']",NaN
31965,safe ways to heal your #acne!! #altwaystohe...,safe way heal acne altwaystoheal healthy healing,0,"['#acne', '#altwaystoheal', '#healthy', '#heal...",NaN
31966,is the hp and the cursed child book up for res...,child book already yes harrypotter favorite,0,"['#harrypotter', '#pottermore', '#favorite']",":smiling_face_with_heart-eyes:,:smiling_face_w..."
31967,"3rd #bihday to my amazing, hilarious #nephew...",rd bihday amazing hilarious nephew uncle dave ...,0,"['#bihday', '#nephew']",NaN

### Pr√ºfung: Cleaned-DFs (RNN)

In [40]:
df_train_cleaned_rnn_basic = pd.read_csv("twitter_hate-speech/train_cleaned_rnn-basic.csv", index_col=0)
print_distribution(df_train_cleaned_rnn_basic, "label")
df_train_cleaned_rnn_basic.head()

- Positive: 1427
- Negative: 19421
- Verh√§ltnis: 13.609670637701472

       label                                              tweet
id
8886       0   @user #cinemaaawards final rehearsals!! geari...
909        0  istg this is the best cheese ta but dayum expe...
27613      0  this was amazing. the weather was not. #musica...
15999      0  yes! #talented #sexy   ‚Äòcriminal minds‚Äô casts ...
23817      0  want to be   while being #successful? see how ...

In [41]:
df_train_cleaned_rnn = pd.read_csv("twitter_hate-speech/train_cleaned_rnn.csv", index_col=0)
print_distribution(df_train_cleaned_rnn, "label")
df_train_cleaned_rnn.head()

- Positive: 1339
- Negative: 18945
- Verh√§ltnis: 14.148618371919342

,label,tweet,tweet_cleaned,user_handle,hashtags,emojis
id,,,,,,
8886,0,@user #cinemaaawards final rehearsals!! geari...,cinemaaaward final rehearsal gear up for the e...,1,"['#cinemaaawards', '#butterflies', '#stage']",NaN
909,0,istg this is the best cheese ta but dayum expe...,istg this be the good cheese ta but dayum expe...,0,[],NaN
27613,0,this was amazing. the weather was not. #musica...,this be amazing the weather be not musical lon...,0,"['#musical', '#london', '#matilda', '#westend'...",NaN
15999,0,yes! #talented #sexy ‚Äòcriminal minds‚Äô casts ...,yes talented sexy ' criminal mind ' cast as ...,2,"['#talented', '#sexy']",NaN
23817,0,want to be while being #successful? see how ...,want to be while be successful see how worklif...,2,"['#successful', '#worklifebalance']",NaN

In [42]:
df_test_cleaned_rnn_basic = pd.read_csv("twitter_hate-speech/test_cleaned_rnn-basic.csv", index_col=0)
print_distribution(df_test_cleaned_rnn_basic, "label")
df_test_cleaned_rnn_basic.head()

- Positive: 668
- Negative: 8921
- Verh√§ltnis: 13.354790419161677

    label                                              tweet
id
4       0  #model   i love u take with u all the time in ...
5       0             factsguide: society now    #motivation
6       0  [2/2] huge fan fare and big talking before the...
16      0  ouch...junior is angryüòê#got7 #junior #yugyoem ...
18      1                             retweet if you agree!

In [43]:
df_test_cleaned_rnn = pd.read_csv("twitter_hate-speech/test_cleaned_rnn.csv", index_col=0)
print_distribution(df_test_cleaned_rnn, "label")
df_test_cleaned_rnn.head()

- Positive: 668
- Negative: 8921
- Verh√§ltnis: 13.354790419161677

,label,tweet,tweet_cleaned,user_handle,hashtags,emojis
id,,,,,,
4,0,#model i love u take with u all the time in ...,model I love you take with you all the time in...,0,['#model'],":mobile_phone:,:kissing_face_with_smiling_eyes..."
5,0,factsguide: society now #motivation,factsguide society now motivation,0,['#motivation'],NaN
6,0,[2/2] huge fan fare and big talking before the...,huge fan fare and big talking before they leav...,0,['#allshowandnogo'],NaN
16,0,ouch...junior is angryüòê#got7 #junior #yugyoem ...,ouchjunior be angry neutral face get junior yu...,0,"['#got7', '#junior', '#yugyoem', '#omg']",:neutral_face:
18,1,retweet if you agree!,retweet if you agree,0,[],NaN

In [44]:
df_predict_cleaned_rnn_basic = pd.read_csv("twitter_hate-speech/predict_cleaned_rnn-basic.csv", index_col=0)
df_predict_cleaned_rnn_basic.info()
df_predict_cleaned_rnn_basic.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17197 entries, 31963 to 49159
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tweet   17197 non-null  object
dtypes: object(1)
memory usage: 268.7+ KB

                                                   tweet
id
31963  #studiolife #aislife #requires #passion #dedic...
31964   @user #white #supremacists want everyone to s...
31965  safe ways to heal your #acne!!    #altwaystohe...
31966  is the hp and the cursed child book up for res...
31967    3rd #bihday to my amazing, hilarious #nephew...

In [45]:
df_predict_cleaned_rnn = pd.read_csv("twitter_hate-speech/predict_cleaned_rnn.csv", index_col=0)
df_predict_cleaned_rnn.info()
df_predict_cleaned_rnn.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17197 entries, 31963 to 49159
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tweet          17197 non-null  object
 1   tweet_cleaned  17197 non-null  object
 2   user_handle    17197 non-null  int64
 3   hashtags       17197 non-null  object
 4   emojis         3452 non-null   object
dtypes: int64(1), object(4)
memory usage: 806.1+ KB

,tweet,tweet_cleaned,user_handle,hashtags,emojis
id,,,,,
31963,#studiolife #aislife #requires #passion #dedic...,studiolife aislife require passion dedication ...,0,"['#studiolife', '#aislife', '#requires', '#pas...",NaN
31964,@user #white #supremacists want everyone to s...,white supremacist want everyone to see the new...,1,"['#white', '#supremacists', '#birds', '#movie']",NaN
31965,safe ways to heal your #acne!! #altwaystohe...,safe way to heal your acne altwaystoheal healt...,0,"['#acne', '#altwaystoheal', '#healthy', '#heal...",NaN
31966,is the hp and the cursed child book up for res...,be the hp and the cursed child book up for res...,0,"['#harrypotter', '#pottermore', '#favorite']",":smiling_face_with_heart-eyes:,:smiling_face_w..."
31967,"3rd #bihday to my amazing, hilarious #nephew...",rd bihday to my amazing hilarious nephew eli a...,0,"['#bihday', '#nephew']",NaN