In [1]:
import pandas as pd

In [2]:
df_e = pd.read_csv("manual_labeled_ef.csv", sep=";")
df_e

,id,tweet,label,label_elena,Creator
0,133373,Post the shit or kill yourself faggot,1,1,Elena
1,133374,I have so much longer be and respect for peopl...,0,0,Elena
2,133380,i hate jews so much i wish the holocaust actua...,1,1,Elena
3,133405,Poor kid would have been better off with his h...,1,1,Elena
4,133409,Will smith is breaking the stereotype of black...,0,0,Elena
...,...,...,...,...,...
110,134891,Makes me sad hearing their painful experience....,0,0,Elena
111,134925,JEW Get the fuck out of here you jewish son of...,1,1,Elena
112,135063,@user @user now we have a Ebloa case in Texas....,1,1,Elena
113,135128,Niggers and their liberal friends steal everyt...,1,1,Elena
114,135131,i hope you rot in prison you sick bitch!!,1,1,Elena

In [3]:
df_e.rename(columns={'label_elena':'label_manual', 'Creator':'creator'}, inplace=True)
df_e

,id,tweet,label,label_manual,creator
0,133373,Post the shit or kill yourself faggot,1,1,Elena
1,133374,I have so much longer be and respect for peopl...,0,0,Elena
2,133380,i hate jews so much i wish the holocaust actua...,1,1,Elena
3,133405,Poor kid would have been better off with his h...,1,1,Elena
4,133409,Will smith is breaking the stereotype of black...,0,0,Elena
...,...,...,...,...,...
110,134891,Makes me sad hearing their painful experience....,0,0,Elena
111,134925,JEW Get the fuck out of here you jewish son of...,1,1,Elena
112,135063,@user @user now we have a Ebloa case in Texas....,1,1,Elena
113,135128,Niggers and their liberal friends steal everyt...,1,1,Elena
114,135131,i hope you rot in prison you sick bitch!!,1,1,Elena

In [4]:
df_e_reduced = pd.concat([df_e[df_e.label_manual == 1][0:50], df_e[df_e.label_manual == 0][0:50]])
df_e_reduced

,id,tweet,label,label_manual,creator
0,133373,Post the shit or kill yourself faggot,1,1,Elena
2,133380,i hate jews so much i wish the holocaust actua...,1,1,Elena
3,133405,Poor kid would have been better off with his h...,1,1,Elena
10,133444,"Close your fucking legs, hoe. Use birth contro...",1,1,Elena
11,133453,@user @user Please take away their license to ...,1,1,Elena
...,...,...,...,...,...
67,133641,i really hate when hungry bitches put dick bet...,0,0,Elena
69,133658,"Current partner of four years is an atheist, a...",0,0,Elena
71,133663,I would lick from that asshole to your clit th...,0,0,Elena
72,133666,A black person Acting scared of harmless Anima...,0,0,Elena
73,133671,@user bitch been on there for ah mintue cdfuuuu,0,0,Elena

In [6]:
df_i = pd.read_csv("manual_labeled_in.csv", sep=";", encoding='mac_roman')
df_i

,tweet,label,label_manual,creator
0,RT @user: Derek Jeter ... A class act... A gre...,0,0,Imran
1,Trans rights are human rights,0,0,Imran
2,"As I mentioned at a recent reading, I probably...",0,0,Imran
3,RT @user: This is so great. Regular season bal...,0,0,Imran
4,The world would be a very dull place if we wer...,1,0,Imran
...,...,...,...,...
94,wow men are fucking trash and disgusting,1,1,Imran
95,I hope your an anal only slut. No one should h...,1,1,Imran
96,do you have autism or something? why do you ta...,1,1,Imran
97,Stupid Asian Bitch You're an idiot and you sho...,1,1,Imran
98,RT @user: List of bitches who want my dick... ...,1,1,Imran

In [7]:
df_i

,tweet,label,label_manual,creator
0,RT @user: Derek Jeter ... A class act... A gre...,0,0,Imran
1,Trans rights are human rights,0,0,Imran
2,"As I mentioned at a recent reading, I probably...",0,0,Imran
3,RT @user: This is so great. Regular season bal...,0,0,Imran
4,The world would be a very dull place if we wer...,1,0,Imran
...,...,...,...,...
94,wow men are fucking trash and disgusting,1,1,Imran
95,I hope your an anal only slut. No one should h...,1,1,Imran
96,do you have autism or something? why do you ta...,1,1,Imran
97,Stupid Asian Bitch You're an idiot and you sho...,1,1,Imran
98,RT @user: List of bitches who want my dick... ...,1,1,Imran

In [8]:
df_s = pd.read_csv("manual_labeled_swa.csv", index_col=0)
df_s

,ID,tweet,label,label_manual,creator
0,20009,i hate jews so much i wish the holocaust actua...,1,1,swa
1,20014,Trans rights are human rights,0,0,swa
2,20015,"Not just Pakistani, but any Muslim athletes re...",0,0,swa
3,20024,gay people should die,1,1,swa
4,20037,Pause in horror as you realize the harsh reali...,0,0,swa
...,...,...,...,...,...
95,24197,Every gook in #LosAngeles should be deported o...,1,1,swa
96,24258,Its a woman doing or in charge of the document...,1,1,swa
97,24273,"Of course with the mandatory ""allahu akbar"" kn...",0,1,swa
98,24349,@user when those iranian missiles hit us citie...,1,1,swa
99,24403,Where are the pictures of the illegal bolshive...,1,1,swa

In [9]:
df_s.rename(columns={'ID':'id'}, inplace=True)
df_s

,id,tweet,label,label_manual,creator
0,20009,i hate jews so much i wish the holocaust actua...,1,1,swa
1,20014,Trans rights are human rights,0,0,swa
2,20015,"Not just Pakistani, but any Muslim athletes re...",0,0,swa
3,20024,gay people should die,1,1,swa
4,20037,Pause in horror as you realize the harsh reali...,0,0,swa
...,...,...,...,...,...
95,24197,Every gook in #LosAngeles should be deported o...,1,1,swa
96,24258,Its a woman doing or in charge of the document...,1,1,swa
97,24273,"Of course with the mandatory ""allahu akbar"" kn...",0,1,swa
98,24349,@user when those iranian missiles hit us citie...,1,1,swa
99,24403,Where are the pictures of the illegal bolshive...,1,1,swa

In [10]:
df_c = pd.read_csv("manual_labeled_ch.csv", sep=";")
df_c

,id,tweet,label,manual_label
0,33390,#whitepower...I'll hang you nigger,1,1
1,33414,"STOP SUCKING THAT FATASS' DICK, YOU NIGGERLOVI...",1,1
2,33434,"Those fucker give true muslims a bad name, kil...",0,0
3,33499,Learn the fucking language you fucking useless...,1,1
4,33513,"Yea, even white suburban people here hate his ...",0,0
...,...,...,...,...
95,59052,@user It's fair if the religion itself is extr...,1,0
96,33563,31 Black Women Who Died In Police Custody URL,0,0
97,63813,Baby thee niggas come a dime a dozen,1,1
98,60761,Because European men are a bunch of soyboy fag...,1,1
99,64346,Normally a bad diet and lack of exercise URL,0,0

In [11]:
df_c.rename(columns={'manual_label':'label_manual'}, inplace=True)
df_c

,id,tweet,label,label_manual
0,33390,#whitepower...I'll hang you nigger,1,1
1,33414,"STOP SUCKING THAT FATASS' DICK, YOU NIGGERLOVI...",1,1
2,33434,"Those fucker give true muslims a bad name, kil...",0,0
3,33499,Learn the fucking language you fucking useless...,1,1
4,33513,"Yea, even white suburban people here hate his ...",0,0
...,...,...,...,...
95,59052,@user It's fair if the religion itself is extr...,1,0
96,33563,31 Black Women Who Died In Police Custody URL,0,0
97,63813,Baby thee niggas come a dime a dozen,1,1
98,60761,Because European men are a bunch of soyboy fag...,1,1
99,64346,Normally a bad diet and lack of exercise URL,0,0

In [12]:
df_n = pd.read_csv("manual_labeled_n.csv", sep=";")
df_n

,Id,tweet,label,label_manual,creator
0,5771,@user irony is when a woman who wears make up...,1,1,nasiba
1,483,"No, I'm an African American. I can send you a ...",1,1,nasiba
2,532,"They all need to be Kicked, taken out of our c...",1,1,nasiba
3,622,@user By showing your love of a genocidal anim...,1,1,nasiba
4,635,"Put them in a airplane, and take them back to ...",1,1,nasiba
...,...,...,...,...,...
94,95956,You want genocide? Cause this is how genocide ...,0,0,nasiba
95,96041,The black girl is gorgeous.,0,0,nasiba
96,96064,God help us Africans have mercy on us in the n...,0,0,nasiba
97,96319,"India not only exporting goods and services, A...",0,0,nasiba
98,96529,There a lot of marriages in Ghana in which wom...,0,0,nasiba

In [13]:
df = pd.concat([df_e_reduced, df_c, df_s, df_i, df_n])

In [14]:
df.head()

,id,tweet,label,label_manual,creator,Id
0,133373.0,Post the shit or kill yourself faggot,1,1,Elena,NaN
2,133380.0,i hate jews so much i wish the holocaust actua...,1,1,Elena,NaN
3,133405.0,Poor kid would have been better off with his h...,1,1,Elena,NaN
10,133444.0,"Close your fucking legs, hoe. Use birth contro...",1,1,Elena,NaN
11,133453.0,@user @user Please take away their license to ...,1,1,Elena,NaN

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 498 entries, 0 to 98
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            300 non-null    float64
 1   tweet         498 non-null    object
 2   label         498 non-null    int64
 3   label_manual  498 non-null    int64
 4   creator       398 non-null    object
 5   Id            99 non-null     float64
dtypes: float64(2), int64(2), object(2)
memory usage: 27.2+ KB

In [16]:
df.to_csv("manual_labeled_group.csv")