In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv("../data/twitter_sentiment/train.csv", index_col=0)

In [10]:
df.head()

    label                                              tweet
id
1       0   @user when a father is dysfunctional and is s...
2       0  @user @user thanks for #lyft credit i can't us...
3       0                                bihday your majesty
4       0  #model   i love u take with u all the time in ...
5       0             factsguide: society now    #motivation

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31962 entries, 1 to 31962
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   31962 non-null  int64
 1   tweet   31962 non-null  object
dtypes: int64(1), object(1)
memory usage: 749.1+ KB